$f-light: 300;
$f-regular: 400;
$f-semi-bold: 600;
$f-bold: 700;
$f-extra-bold: 800;

// colours
$dark: #242424;
$primary: #4361ee;
$secondary: #5e60ce;
$tertiary: #22b0db;
$white: #ffffff;

.weekly {
  margin-top: 20px;

  &__container {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    margin: 0rem 4rem;
  }
  &__title {
    color: $white;
    opacity: 0.9;
    margin-bottom: 15px;
    font-size: 2rem;

    span {
      font-weight: $f-light;
    }
  }

  &__card {
    border-radius: 10px;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
    line-height: 1.25rem;
  }

  &__center_content {
    display: flex;
    align-items: center;

    h3 {
      margin-bottom: 0;
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1rem;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 15px;
      }

      span {
        &:last-child {
          margin-left: 10px;
          font-size: 0.875rem;
          opacity: 0.7;
        }
      }
    }
    h5 {
      font-size: 1rem;
      margin-bottom: 0;
      font-weight: 100;
    }
  }
  &__icon_wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;

    > div {
      position: absolute;
      top: 50%;
      left: 35%;
      width: 100px;
      height: 100px;
      transform: translate(-50%, -50%);
    }
  }
  &__more {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -123px;

    button {
      font-size: 20px;
      color: $white;
      opacity: 0.7;
      background-color: $primary;
    }
    &_left,
    &_right {
      border: 2px solid $white;
      border-radius: 50%;

      cursor: pointer;
    }
    &_right:hover,
    &_left:hover {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 1050px) {
  .weekly{
    &__container{
      justify-content: flex-start;
    }
  }
}
